body {
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.3;
    text-align: justify;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.title{
    font-size: 1.2rem;
    font-weight: 700;
}
.container {
    background-color: #d8f3fa;
    max-width: 650px;
    margin: 0 auto;
    padding: 5px 15px;
}
.header .container {
    display: flex;
}
.avatar {
    margin-right: 30px;
}
.about {
    padding-top: 15px;
    line-height: 1.5;
}
.main .container {
    background-color: #faf5f8;
}
.header img {
    border-radius: 50%;
    width: 150px;
}
span {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
}
.contacts a {
    text-decoration: none;
    color: #000;
}
.contacts a:hover {
    color: #fc5609;
}